.header {
    border: 1px solid #707070;
    &-title {
        color: #630834;
        font-size: 1.5rem;
    }
    &-link {
        color: #707070;
    }
    &-small-text {
        background-color: #e31277;
    }
}
