.checkout1 {
    &-view {
        min-height: calc(100vh - 80px - 40px);
    }
    &-progressbar {
        background-color: #e31277;
    }
    &-button {
        background-color: #e31277;
        border: 1px solid #e31277;
    }
    &-button-notyet {
        background-color: #fff;
        border: 1px solid #e31277;
    }
    &-image {
        height: 85px;
        width: 160px;
    }
    &-nextStepButton {
        background-color: #e31277;
    }
}

/* #E31277 */
/* 線 2px 園 1px border-radius 50% */
.progressBar {
    border-top: 2px solid #e31277;
}

.step::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border: 1px solid #e31277;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.current::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #e31277;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
